# Configuration file

####################
# companionorb
####################

companionorb {
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# companionorba
####################

companionorba {
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# ember
####################

ember {
    B:canSpawn=true
    I:frequency=50
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=40
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=AMBIENT
}


####################
# faerie
####################

faerie {
    B:canSpawn=false
    I:frequency=50
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=40
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# firefly
####################

firefly {
    B:canSpawn=true
    I:frequency=160
    I:maxChunk=8
    I:maxLightlevel=-1
    I:maxSpawn=20
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=AMBIENT
}


####################
# lightningbug
####################

lightningbug {
    B:canSpawn=true
    I:frequency=100
    I:maxChunk=16
    I:maxLightlevel=-1
    I:maxSpawn=40
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=AMBIENT
}


####################
# psifirefly
####################

psifirefly {
    B:canSpawn=true
    I:frequency=100
    I:maxChunk=16
    I:maxLightlevel=-1
    I:maxSpawn=40
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=4
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=CREATURE
}


####################
# radflame
####################

radflame {
    B:canSpawn=false
    I:frequency=8
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=3
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=2
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


####################
# willowisp
####################

willowisp {
    B:canSpawn=false
    I:frequency=50
    I:maxChunk=4
    I:maxLightlevel=-1
    I:maxSpawn=40
    I:maxSpawnHeight=256
    I:minLightlevel=-1
    I:minSpawn=0
    I:minSpawnHeight=0
    S:opaqueBlock=all
    S:spawnBlockBlacklist <>
    S:type=UNDEFINED
}


